<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.10" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net46" />
  <package id="Microsoft.Azure.Search" version="3.0.2" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.372" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.5" targetFramework="net46" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.5" targetFramework="net46" />
  <package id="Microsoft.Spatial" version="7.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net46" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net46" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net46" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="8.0.1" targetFramework="net46" />
</packages>